<input
  type='checkbox'
  id='priority-major'
  name='priority-major'
  aria-label='priority major'
  checked="true"
/>
<label class='filter-label' for='priority-major'>
  Major
</label>

<input
  type='radio'
  id='priority-minor'
  name='priority-minor'
  aria-label='priority minor'
  checked="true"
/>
<label class='filter-label' for='priority-minor'>
  Minor
</label>


<input type="text" value="Shankar">
<input type="search" value="Shankar-search">
<input value="Shankar-default">
<input type="number" value="3497494759">
<input type="tel" value="8759459459">